@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #2b2626;
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2% 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #131b3b;
}

.logo{
    font-size: 3rem;
    color: #f5f3f5;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #576CA8;
    border-bottom: 3px solid #576CA8;
}

/* OTAHMER */

#utahmer {
    font-size: 32px;
    background: -webkit-linear-gradient(#233C7A, #576CA8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
} 

#utahmer:hover{
    text-shadow: 0 0 30px #7f8caf;
    transition: 1s;
}

section{
    min-height: 100vh;
    padding: 150px 9% 5rem;
}

.heading{
    color: white;
    font-size: 60px;
    -webkit-text-stroke-width: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


#projet-detail{
    background-color: #1b264f;
    flex-wrap: wrap;
}

.project-description {
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 40px;
    position: relative;
    flex-wrap: wrap;
}

.features{
    font-size: 1.5rem;
    padding-left: 50px;
}

.project-image {
    width: 60%;
    display: flex;
    justify-content: right;
    
}

.projet-content{
    display: flex;
}

/* .features{
    min-width: 50%;
} */

.Menu{
    display: none;
    cursor: pointer;
}

/* RESPONSIVE */


@media (max-width: 1000px){
    .project-image{
        flex-direction: column; 
        align-items: left; 
    }
}

@media (max-width: 430px) {
    .project-image {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 995px) {
    .Menu {
        display: block;
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: #131b3b;
        color: white;
        
    }

    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid grey;
        border-bottom: 3px solid grey;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #131b3b;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid white;
    }

    .skills-content {
        grid-template-columns: repeat(1, 1fr);
    }
}